<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="Image by Rajat Gupta" class="img-fluid"
                                title="Rajat Gupta">
                        </figure>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to My Weather App</p>
                        <h1>I am an undergraduate at<span class="text_clr"> IIIT Jabalpur</span>. I am a<span class="text_clr"> Mern Stack Developer</span>.</h1>
                        <a href="" target="_blank"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}
</body>

</html>